body {
    font-family: "Open Sans";
}

::-moz-selection {
    background: #fec000;
    color: white;
}

::selection {
    background: #f5ca0c;
    color: white;
}

@media (max-width: 480px) {
    .big-title {
        line-height: 1.5em !important;
    }
}

.thumb.featured .info .big-title {
    font-family: "Open Sans";
}

.info .excerpt {
    font-size: 1em !important;
}

.project-meta {
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 10px 0 0 0;
    font-size: 12px;
    text-align: center;
    border: 1px solid #c1c1c1;
}

.para {
    font-size: 1.1em;
}

.my_title {
    color: #f5ca0c;
}

.well {
    min-height: 300px;
    padding: 20px;
    margin: 12px 12px 12px 0;
    background-color: #f5f5f5;
}

.quote {
    font-size: 15px;
}

.name {
    font-size: 12px;
    float: right;
}

.underline {
    border-bottom: 2px solid #f5ca0c;
}

.thumb {
    margin-top: 15px;
    margin-bottom: 15px;
}

.tag {
    font-size: 12px;
}


/*returnTop*/

p#back-to-top {
    position: fixed;
    display: none;
    bottom: 20px;
    right: 80px;
}

p#back-to-top a {
    text-align: center;
    text-decoration: none;
    color: #ffec90;
    display: block;
    width: 64px;
    -moz-transition: color 1s;
    -webkit-transition: color 1s;
    -o-transition: color 1s;
}

p#back-to-top a:hover {
    color: #f5ca0c;
}

.asterisk {
    font-size: 12px;
    vertical-align: top;
    color: black;
}

.shadow {
    box-shadow: 2px 2px 8px 2px #aaaaaa;
}

.vertical {

}
