body {
	background-color: #f6f7fa;
	margin: 0;
	padding: 70px 0 0 0;
}

.container {
	width: 80%;
}

.navbar-brand {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
    font-size: 25px;
    letter-spacing: 5px;
    color: #191919 !important;
}

/*.navbar-default {
    background-color: rgba(0,0,0,0);
    z-index: 100;
}*/

.navbar-right {
	margin-right: 20px;
}

a {
	font-size: 18px;
}

.avatar {
	width: 50px;
	height: auto;
}

.content {
	margin: 0 auto;
	padding: 0 2%;
}

.align-center {
	text-align: center;
}

.float-right {
	float: right;
}

footer {
	margin-top: 50px;
}
